*{
    box-sizing: border-box;
}
body{
    margin:0;
    padding:0;
}
#block{
    position:relative;
    height:500px;
    width:500px;
    border:1px solid grey;
}
#message{
    list-style-type:none;
    margin:0;
    padding:0;
}
.zone_saisie{
    position:absolute;
    top:90%;
    width:100%;
}
#m{
    position:relative;
    width:85%;
}