* {
    box-sizing: border-box;
    font-family:Helvetica, sans-serif;
}
:root {
    --main-bg-color:rgb(64, 117, 208);
    --dark-bg-color:rgb(41, 82, 152);
    --pop-bg-color:rgba(41, 82, 152, 0.5);
  }

body {
    margin: 0;
    padding: 0;
}
#error-message {
    position:absolute;
    width:400px;
    height:200px;
    top: 100px;
    left:calc(50% - 150px);
    padding: 10px;
    background-color:var( --pop-bg-color);
    border: 1px solid white;
    border-radius: 5px;
    font-size:25px;
    color: white;
    text-align:center;
    z-index:10;
    opacity:0;
    transition:all 0.5s linear;
}
#writing {
    position:absolute;
    top:95%;
    padding: 10px;
    background-color:var( --pop-bg-color);
    color: white;
    display: none;
}
#leftbar{
    position:absolute;
    top:0;
    left:0;
    height:100%;
    width:20%;
    background:var(--main-bg-color);
}
header{
    width:100%;
    height:100px;
}
#logo{
    position:relative;
    height:70px;
    width:70px;
    top:15px;
    left:5px;
    background:url(../images/chat.webp)no-repeat;
    background-size:cover;
    border-radius:50px;
}
h1{
    position:absolute;
    left:90px;
    top:20px;
    color:white;
}
#leftbar ul{
    margin:0;
    padding:0;
    list-style-type:none;
}
#leftbar li{
    width:100%;
    height:40px;
    margin-top:0;
    padding-left:10px;
    line-height:40px;
    color:white;
    cursor:pointer;
}
#leftbar li:hover{
    background:var(--dark-bg-color);
}
.active{
    font-weight:bold;
    background:var(--dark-bg-color);
}
#block {
    position: relative;
    height:100%;
    width:63%;
    top:0;
    left:20%;
}
#messages {
    list-style-type: none;
    margin:0;
    padding:10px 20px;
    background:var(--dark-bg-color);
    height:calc(100vh - 100px); 
    overflow-y: scroll; 
}
#messages li{
    height:auto;
    width:50%;
    margin:20px 0;
    padding:10px 5px;
    font-family:Helvetica, sans-serif;
    color:white; 
    background:var(--main-bg-color);
    border-radius:10px;
}
#messages li::before {
    content: '';
    display: inline-block;
    background-image: url(../images/puce.jpg);
    background-size: cover;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    position: relative;
    left: -5px;
    top: -10px;
}
#messages li:nth-child(even) {
    margin-left:40px;
    background:rgb(231, 231, 231);
    color:grey;
  }
#user{
    position:absolute;
    height:100%;
    width:17%;
    top:0;
    left:83%;
    background:var(--main-bg-color);
}
#user p{
    position:absolute;
    width:100%;
    height:30px;
    top:0x;
    left:0;
    font-size:15px;
    color:white;
    text-align:center;
    border-bottom:1px solid white;
}
#users{
    list-style-type: none;
    padding:0;
    margin:70px 0;
}
#users li{
    width:100%;
    height:30px;
    margin-top:0;
    padding-left:10px;
    line-height:30px;
    color:white;
}
.zone_saisie {
    position: absolute;
    width: 100%;
    height:100px;
    top:100%;
    padding:10px;
    border-top:1px solid white;
    background:var(--main-bg-color);
}
#pseudo{
    position:relative;
    width:200px;
}
#m{
    position:relative;
    width: 85%;
}
button{
    position:relative;
    background:rgb(64, 62, 63);
    cursor:pointer;
    border:none;
    height:30px;
    width:70px;
    border-radius: 5px;
    color:white;
}